* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(224, 228, 228);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  width: 40vw;
  padding: 10px;
  border-radius: 4px;
  border: black 1px solid;
}

button {
  padding: 10px 40px;
  border-radius: 4px;
  border: black 1px solid;
  box-shadow: 1px 1px 2px;
  margin-top: 10px;
  cursor: pointer;
}

h1 {
  margin-bottom: 25px;
}

button:hover {
  background-color: aliceblue;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}